@import '../node_modules/@angular/material/core/theming/all-theme';
@include md-core();
$app-primary: md-palette($md-light-blue, 500, 100, 700);
$app-accent: md-palette($md-pink, A200, A100, A400);
$app-warn: md-palette($md-red);
$app-theme: md-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

@import "./imports/material-layout";

body {
  background-color: rgb(2,119,189);
}

.loading-placeholder {
  background-color: white;
  text-align: center;
}
