<div class="flex-container" layout="row">
  <div class="flex-item" flex="20"></div>
  <div class="flex-item" flex="60">
      <md-card class="main-card filter-card">
          <md-card-subtitle>
              <form>
                  <md-input dividerColor="primary" type="text" #searchtext placeholder="Search task"></md-input>
                  <button md-icon-button (click)="search(searchtext.value)"><md-icon>search</md-icon></button>

                  <select class="form-control" #sort (change)="changeSortOrder(sort.value)">
                <option value="1" selected>Ascending</option>
                <option value="-1">Descending</option>
              </select>
              </form>
          </md-card-subtitle>
      </md-card>

      <md-card class="main-card">
          <md-card-title>
              <tasks-form></tasks-form>
          </md-card-title>
          <md-card-content>
              <md-list>
                  <md-list-item *ngFor="let task of tasks | async">
                      <md-checkbox [(ngModel)]="task.done" (change)="markAsDone(task)"><a class="task-link" [routerLink]="['/task', task._id]">{{task.name}}</a></md-checkbox>
                      <button md-icon-button (click)="removeTask(task)"><md-icon>delete_forever</md-icon></button>
                      </button>
                  </md-list-item>
              </md-list>
          </md-card-content>
          <md-card-actions>
              <pagination-controls class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
          </md-card-actions>
      </md-card>
  </div>
  <div class="flex-item" flex="20"></div>
</div>
